<list>
    
	<com.german.model.ConnectionBean>
		<connectionName>Test</connectionName>
		<immageName>mysql-logo.jpg</immageName>
		<user></user>
		<password></password>
		<schema></schema>
		<url>jdbc:mysql://localhost:3306/myDatabase</url>
		<driver>com.mysql.jdbc.Driver</driver>
	</com.german.model.ConnectionBean>

</list>